---
title: Drafter | Evaluator Profile | Eternal Journey
about: ../about/
override:tags: []
date: Last Modified
---
<div style="margin-left: 30px;">
  <a href="/drafter/">&#9668; Return to the Drafter</a>
</div>

<div class="textcol">

  <div class="title">Evaluator: Eternal Journey</div>

    <div class="subtitle">
     Profile
   </div>
    <br>

    <div class="tagline">
      Card evaluations for the <strong>ShiftStoned Drafter</strong> are provided by <a href="https://www.twitch.tv/jedi_ej/" target="_blank">Jedi_EJ</a> and the <strong>Eternal Journey Podcast</strong>
    </div>

      <a href="../../images/EvaluatorJedi_EJ.png" style="background-color: rgb(23, 20, 29);" target="_blank"><img style="position: absolute; left: 300px; top: 280px; width: 150px;"  src="../../images/EvaluatorJedi_EJ.png" ></a>

    <br>

    <p>
      <strong>Jedi_EJ</strong> is a popular streamer with over 1,000 followers on <a href="https://www.twitch.tv/jedi_ej/" target="_blank">Twitch</a>. He is also host of the <a href="https://www.youtube.com/channel/UCV9CdlqMcHZvkzyDZWXaA7A" target="_blank">Eternal Journey Podcast</a>, discussing all things <strong>Eternal</strong> with a focus on limited play.
    </p>
    <p>
      You can follow <strong>Jedi</strong> and <strong>Eternal Journey</strong> on:

      <ul>
        <li><a href="https://twitter.com/PodcastEj?s=20" target="_blank">Twitter</a></li>
        <li><a href="https://discord.com/invite/arKqagv" target="_blank">Discord</a></li>
        <li><a href="https://www.youtube.com/channel/UCV9CdlqMcHZvkzyDZWXaA7A?view_as=subscriber" target="_blank">YouTube</a></li>
      </ul>
    </p>

</div>
