---
title: Shiftstoned Drafter - About
layout: layouts/html.njk
section: Drafter
bg_img: ../../images/BackgroundDrafter.jpg
about: ../about/
---
<nav style="margin-left: 30px;">
  <a href="/drafter/">&#9668; Return to the Drafter</a>
</nav>

<main class="textcol">

    <header class="headline">
      <h1 class="title">ShiftStoned Drafter: A User's Guide</h1>
      <p class="subtitle">
        Welcome to the <strong>ShiftStoned Drafter</strong>, a fan-built draft pick selection tool for <a href="https://www.direwolfdigital.com/eternal/" target="_blank">Eternal Card Game</a>
      </p>
      <p class="tagline">
        Featuring evaluations by <a href="../EternalJourney/">Jedi_EJ and Eternal Journey</a>
      </p>
    </header>

    <section>
      <h2 class="subheading first">
        Getting started
      </h2>

      <p>
        Start by searching for a card from your draft selections. Cards from the current <strong>Eternal</strong> Draft format will appear in the dropdown.
      </p>

      <img src="/images/drafter/about/search.jpg" style="margin-top: 10px; margin-bottom: 20px;">

      <p>
        Selecting a card from the dropdown adds it to a <strong>Picks</strong> section for comparison with other cards.
      </p>

    </section>

    <section>
      <h2 class="subheading first">
        Comparing picks
      </h2>
      <p>
        Card ratings from your evaluator are displayed in a color-coded circle at upper right. Compare ratings by searching for additional picks. You can choose to compare every card in your pack, or just a handful.
      </p>
      <img src="/images/drafter/about/picks.jpg" style="margin-top: 10px; margin-bottom: 20px; width: 600px;">
      <p>
        Some cards feature additional analysis by the evaluator. These cards display a “speech bubble” icon over their rating. Hover over the rating to view a detailed comment. Click the 'X' to remove a pick from your comparisons.
      </p>
      <img src="/images/drafter/about/navigator.jpg" style="margin-top: 10px; margin-bottom: 20px;">
    </section>

    <section>
      <h2 class="subheading first">
        Choosing picks
      </h2>
      <p>
        Selecting a card from your <strong>Picks</strong> will add it to your <strong>Deck</strong> or <strong>Pool</strong> list. Use the tabs in the column on the right to select between your <strong>Deck</strong> and your <strong>Pool</strong>. Picking a card clears all the cards from your <strong>Picks</strong> section (unless the “Reset pack…” option is deselected).
      </p>
      <img src="/images/drafter/about/deckpool.jpg" style="margin-top: 10px; margin-bottom: 20px;">
    </section>

    <section>
      <h2 class="subheading first">
        Sharing and exporting
      </h2>
      <p>
        Use the <strong>Export</strong> tools to copy your <strong>Deck</strong> or <strong>Pool</strong> to the clipboard, or view them in the <a href="/epc/" target="_blank">Eternal Power Calculator</a> or on <a href="https://eternalwarcry.com/" target="_blank">Eternal Warcry</a>.
      </p>
      <img src="/images/drafter/about/share.jpg" style="margin-top: 10px; margin-bottom: 20px;">
    </section>

    <hr style="margin-top: 25px; margin-bottom: 0px" width="100%" />
    <div class="atsub" style="color:#81C3F4;">
      Help us to improve the Drafter by <a href="/contact/">contacting ShiftStoned</a> with your feedback.
    </div>

   <br><br><br>

</main>
